body {
  display: flex;
  padding: 4rem;
  justify-content: center;
  background-image: url('./images/bg-bottom.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  font-family: 'Montserrat';


}

.outer-container {

  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/bg-top.svg');
  background-position: top right, bottom left;
  background-size: 50%;

  background-color: rgb(255, 253, 240);


}


.main-container {
  background-size: 50rem;
  flex-basis: 100%;
  padding: 1rem;
  background-color: none;


  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;


}

.inner-container {
  align-self: baseline;
  flex-basis: 100%;
  padding: 3rem;
  flex-grow: 1;



}

.heading-container {


  display: flex;
  justify-content: center;
  color: hsl(234, 92%, 56%);


}

.range-choice-container {

  display: flex;
  justify-content: center;
  column-gap: 1rem;
  color: hsl(234, 14%, 74%);

}



input[type="range"] {
  width: 40px;
  height: 70%;
  background-color: hsl(240, 37%, 59%);

  border-radius: 16px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #ece2e2;
  border: 1px solid #f9fcfc;
  border-radius: 50%;

}

.box1 {
  align-self: baseline;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 5px 5px 4px hsl(240, 7%, 84%);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  flex-basis: 200px;
  flex-grow: 3;

}

.box2 {
  border-radius: 12px;

  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  row-gap: 10px;
  box-shadow: 5px 5px 4px hsl(240, 7%, 84%);
  background-color: hsl(236, 72%, 79%);

  flex-basis: 200px;
  flex-grow: 4;

}

.box3 {
  border-radius: 12px;

  background-color: #fff;
  align-self: baseline;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  padding: 0.5rem;

  flex-grow: 3;
  box-shadow: 5px 5px 4px hsl(240, 7%, 84%);

}

hr {
  width: 70%;
}

button {
  background-color: hsl(236, 88%, 69%);
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 4px;

}

h2 {
  font-weight: 700
}